body{
    background:lightskyblue;
    align-items:center;
}
#header{
    margin:auto;
    background: aquamarine;
    font: 200;
    width: 30%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
#lst{
    margin-left: 45%;
}
#pls{
    font-family:'Century';
    font-size: 5mm;
    font-weight: bolder;
}
p{
    text-align: center;
}
#task{
    font-family: 'Verdana'
}
b{
    text-align:center;
} 
pre{
    text-align: center;
    font-size: 4.5mm;
}
#someimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 72%;
    height: 35%;
}   
#links{
    background:aqua;
    width: fit-content;
    margin-left: 40%;
    margin-top: 5mm;
    font-family: Arial, Helvetica, sans-serif;
}
.thet{
    margin:auto;
    empty-cells: show;
    table-layout: auto;
    border-color:blue;
    width: 15cm;
    height: 3cm;
}
#spbox{
    width: 960px;
    margin:auto;
    align-items:center;
    background:cornsilk;
    height: 1100px;
}
/* a:
{
    background:lightgray;
    font-weight: bolder;
} */
#username{
    text-align: center;
}
#reg{
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}
#txt{
    text-align: center;
    font:200; 
}
#kisel{
    display: block;
    border-radius: 5cm;
    margin-left: auto;
    margin-right: auto;
}
#mos{
    width: 12cm;
    height: 10cm;
    display: block;
    border-radius: 5cm;
    margin-left: auto;
    margin-right: auto;
}